# Python things (these will be removed when the prototype's code is removed)
/env
**/__pycache__
/pipelinec/syntax/.antlr

# Built files
/build/
*.so

# Generated Antlr code
/src/generated/

# Antlr jar
/antlr-*.jar

# Caches
/.xmake/
/compile_commands.json
/.cache
.DS_Store
